{{ define "header" }}
{{ partial "organisms/site-header.html" . }}
{{ end }}

{{ define "main" }}
{{ $section := .Site.GetPage "section" .Section }}
<section class="content">
  <article>
    <header>
{{if .PrevPage}} <a href="{{.PrevPage.Permalink}}">&lt;</a>{{end}}
{{if .NextPage}} <a href="{{.NextPage.Permalink}}">&gt;</a>{{end}}
      <h1>
        {{- .Title -}}
      </h1>
      {{/*
      Show "reading time" and "word count" but only if one of the following are true:
      1) A global config `params` value is set `show_reading_time = true`
      2) A section front matter value is set `show_reading_time = true`
      3) A page front matter value is set `show_reading_time = true`
      */}}
      {{ if (or (eq (.Param "show_reading_time") true) (eq $section.Params.show_reading_time true) )}}
      <span> - {{ .ReadingTime}} minutes read</span>
      <span> - {{ .WordCount}} words</span>
      {{ end }}
    </header>
    <main>
      {{- .Content -}}
      {{- partial "tags.html" . -}}
    </main>
    <aside>
      {{- partial "menu-contextual.html" . -}}
    </aside>
    <footer>
      {{if .PrevPage}} <a href="{{.PrevPage.Permalink}}">back</a>{{end}}
      {{if .NextPage}} <a href="{{.NextPage.Permalink}}">nächstes Kraut</a>{{end}}
    </footer>
  </article>
</section>
{{ end }}