.header {
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  h1, h2 {
    color: $whiteColor;
    text-shadow: 1px 1px 3px #000;

  }
  &--cover {
    background-position: center;
    background-size: contain;
    min-height: 420px;
  }

  &__topbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: rgba(0, 0, 0, 0.493);
    height: 72px;
    .navigation--main {
      flex-grow: 1;
    }
  }
  &.bg-black {
    background-color: $blackColor;
    height: 72px;
  }
}

.logo {
  a {
    color: $primaryColor;
    text-decoration: none;

    @include md {
      // 768px window width and more
      font-size: 1.75rem;
    }
  }
}