.header {
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  h1, h2 {
    color: $whiteColor;
    text-shadow: 1px 1px 3px #000;

  }
  &--cover {
    background-position: center;
    background-size: contain;
    min-height: 420px;

    .header__topbar {
      background: rgba(0, 0, 0, 0.493);
      .logo a {
        color: $primaryColor;
      }
    }
  }
  
  &__topbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: $primaryColor;
    height: 72px;
    .navigation--main {
      flex-grow: 1;
    }
  }

}

.logo {
  a {
    color: $whiteColor;
    text-decoration: none;
    padding-left: $defaultPadding * .5;
    font-size: 1.25rem;
    @include md {
      // 768px window width and more
      font-size: 1.75rem;
    }
  }
}