.menu {
  position: relative;
  margin-top: 24px;
  &:after {
    position: absolute;
    top: -15px;
    left: 95px;
    content: "";
    display: block;
    border-left: 15px solid transparent;
    border-right: 15px solid transparent;
    border-bottom: 20px solid white;
  }

  &__list {

    list-style: none;
    position: absolute;
    top: 30px;
    right: -100px;
    width: 160px;
    padding: 10px;
    text-align: center;
    border-radius: 4px;
    background: $primaryColor;
    /* just for this demo */
    opacity: 0;
    visibility: hidden;
    margin: 0;
    transition: all .5s ease-out;
  }
  
  &__item {
    text-align: right;

    a {
      color: $whiteColor;
      font-family: $open-sans;
      text-decoration: none;
      font-weight: 700;
      padding: 5px;
      text-decoration: none;
      transition: all .2s;

      &:hover,
      &:focus {
        color: $blackColor;
      }
    }
  }
}

.btn--burger {
  display: block;
  width: 28px;
  height: 30px;
  padding-right: $defaultPadding * .5;
  span {
    position: relative;
    display: block;
  }

  span,
  span:after,
  span:before {
    width: 100%;
    height: 4px;
    background-color: $whiteColor;
    transition: all 0.3s;
    backface-visibility: hidden;
    border-radius: 1px;
  }

  span:after,
  span:before {
    content: "";
    position: absolute;
    left: 0;
    top: -9px;
  }

  span:after {
    top: 9px;
  }
  /* on activation */
  &.active span {
    background-color: transparent;
  }

  &.active span:before {
    transform: rotate(45deg) translate(5px, 5px);
    background-color: $whiteColor;
  }

  &.active span:after {
    transform: rotate(-45deg) translate(7px, -8px);
    background-color: $whiteColor;
  }

}

#toggle.active+.menu__list {
  opacity: 1;
  visibility: visible;
  display: flex;
  flex-direction: column;
  right: 2px;
}


.breadcrumbs {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;

  li {
    padding-right: 8px;
    color: #333
  }
}

.navigation{

  &--prev-next {

    a {
      background-color: $primaryColor;
      display: inline-block;
      padding: $defaultPadding * .25;
      svg {
        fill: $whiteColor;
      }
    }
  }
} 