.list {
  margin-top: $defaultPadding;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.teaser {
  &--kraut {
    width: 33%;
    background-color: $whiteColor;
    margin-bottom: $defaultPadding * 2;
  }
  &__content {
    padding: 0 $defaultPadding * .5;
  }
  h4 {
    margin-top: 0;
    font-size: 1.05rem;
  }
  a {
    text-decoration: none;
    color: $primaryColor;
  }
}