<section>
<h3>Steckbrief:</h3>
<p><strong>Wissenschaftlicher Name:</strong> {{ .Params.wissenschaftlicher_name}}</p>
<p><strong>Englischer Name:</strong> {{ .Params.englischer_name}}</p>
<p><strong>Familie:</strong>
  {{ range .Params.tags_familie }}
  <a href="{{ "/kräuter/familie/" | relLangURL }}{{ . | urlize }}">{{ . }}</a>
  {{ end }}
</p>
<p><strong>Gattung:</strong>
  {{ range .Params.tags_gattung }}
  <a href="{{ "/kräuter/gattung/" | relLangURL }}{{ . | urlize }}">{{ . }}</a> 
  {{ end }}
</p>
<p><strong>Kategorie:</strong>
  {{ range .Params.tags_kategorie }}
  <a href="{{ "/kräuter/kategorie/" | relLangURL }}{{ . | urlize }}">{{ . }}</a>
  {{ end }}
</p>
<p><strong>Erntezeit:</strong>
{{ range .Params.tags_ernte_zeit }}
  <a href="{{ "/kräuter/erntezeit/" | relLangURL }}{{ . | urlize }}">{{ . }}</a>
  {{ end }}
</p>
<p><strong>Tags:</strong>
  {{ range .Params.tags }}
  <a href="{{ "/tags/" | relLangURL }}{{ . | urlize }}">{{ . }}</a>
  {{ end }}
</p>
</section>