{{ $featured_image := .Params.featured_image }}
<article class="article article--image">
  <div>
    <div>
      {{ if .Params.featured_image }}
      {{/* Trimming the slash and adding absURL make sure the image works no matter where our site lives */}}
      {{ $featured_image := (trim $featured_image "/") | absURL }}
      <div>
        <a href="{{.URL}}" class="link link--image">
          <img src="{{ $featured_image }}" class="img" alt="image from {{ .Title }}">
        </a>
      </div>
      {{ end }}
      <div class="blah w-100{{ if .Params.featured_image }} w-60-ns pl3-ns{{ end }}">
        <h1>
          <a href="{{.URL}}" class="link link--title">
            {{ .Title }}
          </a>
        </h1>
        <div class="copy link--nested">
          {{ .Summary }}
        </div>
        <a href="{{.URL}}">
          {{$.Param "read_more_copy" | default "read more" }}</a>
        {{/* TODO: add author
        <p class="copy">By {{ .Author }}</p> */}}
      </div>
    </div>
  </div>
</article>