

$primaryColor: #000;
$whiteColor: rgb(255,255,255);
$blackColor: rgb(20,20,20);
$footerBackgroundColor: rgb(123, 45, 67);
$backgroundColor: #f7f9f1;
$textColor: #222;
$defaultPadding: 16px;

$borderColor: $primaryColor;