body {
  width: 100%;
  min-height: 100vh;
  margin: 0;
  padding: 0;
  background-color: $backgroundColor;
  color: $textColor;
}


img {
  max-width: 100%;
  height: auto;
}

code {
  margin: $defaultPadding * .5;
}