.footer {

  &--site {
    align-items: center;
      background-color: $footerBackgroundColor;
      padding: $defaultPadding;
    
    a {
      color: $whiteColor;
      text-decoration: none;
    }
  }
}