.navigation {

  &--main {

    ul {
      list-style: none;

      li {
        display: inline-block;
        padding-left: $defaultPadding * 2;

        a {
          color: $whiteColor;
          font-family: $open-sans;
          text-decoration: none;
          font-weight: 700;
        }
      }
    }
  }
}