{{ define "main" }}
<div class="content">
  {{ block "search" . }}{{ partial "molecules/search.html" .}}{{ end }}

  <section class="row">
    <article class="article article__index">
      {{ .Content }}
    </article>
  </section>
  
  {{ $mainSections := .Site.Params.mainSections | default (slice "post") }}
  {{ $section := where .Site.RegularPages "Section" "in" $mainSections }}
  {{ $section_count := len $section }}
  {{ $n_posts := $.Param "recent_posts_number" | default 3 }}
  {{ if ge $section_count 1 }}
  {{ $section_name := index (.Site.Params.mainSections) 0 }}

  <section class="row">
    {{/* Use $section_name to get the section title. Use "with" to only show it if it exists */}}
    {{ with .Site.GetPage "section" $section_name }}
    <h1>
      Letzte {{ .Title }} Einträge
    </h1>
    
    {{/* Range through the first $n_posts items of the section */}}
    {{ range (first $n_posts $section) }}
    {{ partial "organisms/summary-with-image.html" . }}
    {{ end }}
  </section>
  {{ end }}
  
  {{ if ge $section_count (add $n_posts 1) }}
  <section class="row">
    <h1>Mehr Artikel</h1>
    {{ range (first 4 (after $n_posts $section)) }}
    <a href="{{ .URL }}" class="link">
      {{ .Title }}
    </a>
    {{ end }}
    
    {{/* As above, Use $section_name to get the section title, and URL. Use "with" to only show it if it exists */}}
    {{ with .Site.GetPage "section" $section_name }}
    <a href="{{ .URL }}" class="link">All {{.Title }}</a>
    {{ end }}
  </section>
  {{ end }}
</div>>
{{ end }}
{{ end }}

{{ define "addscripts" }}
<script src="//cdn.jsdelivr.net/algoliasearch/3/algoliasearch.min.js"></script>
{{ end }}
