{{ define "header" }}
{{ partial "organisms/site-header.html" . }}
{{ end }}

{{ define "main" }}
{{ $section := .Site.GetPage "section" .Section }}
<section class="content">
  <article>
    <header>
      <h1>
        {{- .Title -}}
      </h1>
    </header>
    <main>
      {{- .Content -}}
    </main>
    <div class="images">
      <h1>images</h1>
      {{ $images := $.Page.Params.images }}
      {{ range  $images }}
        {{ if in .tag_image_type "Featured" }}
        <img src={{ .image }}/>
        {{ end }}
      {{ end }}
    </div>
    <aside>
      {{- partial "menu-contextual.html" . -}}
      {{- partial "organisms/krauter-steckbrief.html" . -}}
    </aside>
    <footer>
    </footer>
  </article>
</section>
{{ end }}