{{ define "header" }}
{{ partial "organisms/site-header.html" . }}
{{ end }}

{{ define "main" }}
{{ $section := .Site.GetPage "section" .Section }}
<section class="content">
  <div class="section section--wide section__navigation">
    {{- partial "organisms/breadcrumbs.html" . -}}
    {{- partial "molecules/prev-next-navigation.html" . -}}
  </div>
  <article>
    <header>
      <h1>
        {{- .Title -}}
      </h1>
    </header>
    <main>
      {{- .Content -}}
    </main>
    <aside>
      {{- partial "menu-contextual.html" . -}}
      <h3>Tags:</h3>
      {{- partial "tags.html" . -}}
    </aside>
    <footer>
    </footer>
  </article>
</section>
{{ end }}